body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    background-color: #222831; 
    color: #EEEEEE; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.article-detail {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #31363F;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-detail h1 {
    color: #EEEEEE; 
    margin-bottom: 20px;
}

.publish-date {
    color: #3282B8;
    margin-bottom: 20px;
}

.article-content {
    color: #EEEEEE; 
}

.article-content p {
    margin-bottom: 20px;
}
