body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    background-color: #222831;
    color: #EEEEEE;
    height: 100vh;
    margin: 0;
    padding: 10px;
    overflow-x: hidden;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.article {
    background-color: #31363F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
}

.date {
    color: #3282B8;
}

.article p {
    color: #EEEEEE;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: #3282B8;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #3282B8;
}

.main {
    position: relative;
}

@media (max-width: 1200px) {
    .articles {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {
    .articles {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .articles {
        grid-template-columns: 1fr;
    }
}
